<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="
    /subreg.css">
    <title>Dashboard</title>
   
</head>

<body>

    <header>
        <nav class="nav">
            <div class="logo">DASHBOARD</div>
            <form class="logout-form" action="http://localhost:3000/auth/logout" method="post">
                <input type="submit" class="button" value="Logout">
            </form>
            <form class="logout-form" action="http://localhost:3000/auth/validuser" method="get">
                <input type="submit" class="button" value="Home">
            </form>
        </nav>
    </header>

    <main>
   
        <div class="registration-form">
            <h2>Subject Registration</h2>

            <form action="http://localhost:3000/auth/addsub" method="post">
                <label for="subjectName">Subject Name:</label>
                <input type="text" id="subjectName" name="subjectName" required>

                <br>

                <label for="totalCredits">Total Credits:</label>
                <input type="text" id="totalCredits" name="totalCredits" required>

                <br><br>

                <input type="submit" class="button" value="Submit">
            </form>
        </div>
    </main>

</body>

</html>
